# --- Fichiers de données ---
*.parquet
*.json

# --- Fichiers temporaires Spark/Python ---
__pycache__/
*.pyc
.ipynb_checkpoints/

# --- Fichiers systèmes ---
.DS_Store
Thumbs.db

# --- Logs ---
*.log

# ---env----
*.env